.list-items {
  margin-right: 10px;
  min-height: 300px;
  text-align: center;
}

.loading-wrap {
  margin-right: 10px;
  min-height: 265px;
  min-width: 500px;
  text-align: center;
  position: relative;
}

.circul {
  position: absolute;
  top: 50%;
  left: 50%;
}

.list-span {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 2em;
}