.input-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text {
  margin-right: 5%;
}

.input-button {
  margin-left: 5%;
}

.title-wrap {
  margin: 20px;
  min-height: 120px;
  text-align: center;
}